<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/estilo.css">
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/jquery.validate.min.js"></script>
        <script src="/js/load.js"></script>
        <script src="/js/go.js"></script>
        <script src="/js/main.js"></script>
		<title>Flowchart</title>
	</head>
<body {{{ onload }}} >

<nav class="navbar navbar-inverse" style="background:#439788;border: #439788">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#" style="color:#fff;">Flowchart</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="regresar" href="/mydraws?username=" style="color:#fff;">{{{regresar}}}</a></li>
        <li><a href="/login" style="color:#fff;">{{{sesion}}}</a></li>
      </ul>
    </div>
  </div>
</nav>


	{{{body}}}
<div>
<!--<footer class="container-fluid text-center" style="background:#212c35;position: absolute;bottom: 0;width: 100%;height: 10px;color: white;">
  <p>Garofalo - Trelles - Baque</p>
</footer>-->
</div>
</body>
</html>


