<br>

<h2>Bienvenidos a Flowchart</h2>
<br>

<div class="slider">
			<ul>
				<li>
  <img src="img/1.PNG" alt="">
 </li>
				<li>
  <img src="img/2.PNG" alt="">
</li>
				<li>
  <img src="img/3.PNG" alt="">
</li>
				<li>
  <img src="img/2.PNG" alt="">
</li>
			</ul>
		</div>
	